<p>distance: <%= @calculator.distance.round(1).to_s %> miles</p>
<p>time: <%= @calculator.duration %> </p>
<p>origin: <%= @calculator.start_address %> </p>
<p>origin: <%= @calculator.end_address %> </p>
