/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

*/


// div {
//   border: 1px solid red;
// }
body, html {
  height: 100%;
}

.button {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, .8) ;
}



#home {
  height: 100%;
  margin-top: 10%;
}

#little-logo {
  width: 100px;
  height: 70px;
  margin: 0 auto;
  overflow: visible;
}

#large-logo {
  width: 200px;
  height: 150px;
  margin: 0 auto;
  overflow: visible;
}

#header h1 {
  text-align: center;
}

#logo-header {
  margin: 2rem auto 0 auto;
  width: 100px;

}

#form-conatiner {
 margin-top: 1rem;
 input {
   text-align: center;
 }
}

#result-container div {
  text-align: center;
}

.card {
  margin: 1rem;
  padding: 1rem;
  border-radius: 0 0 1rem 0;
  box-shadow: 0px 1px 5px rgba(6, 6, 6, 0.39);
  h3{
    font-size: 1rem;
  }
  p {
    color: #0ff;
    font-size: 2.5rem;
  }

}
