<div class="row" id="header">
  <div class="small-10 small-offset-1 columns">
    <div id="logo-header">
      <%= render 'layouts/logo_svg' %>
    </div>
    <h1>DistanceFinder</h1>
  </div>
  <div class="small-1 columns"></div>

</div>
