<!DOCTYPE html>
<html>
  <head>
    <title>Distance Finder</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= render "layouts/critical_css" %>
  </head>

  <body>
    <%= yield %>

    <%= render 'layouts/javascript' %>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCB2wET-9T3s0yNYcgH8_dXZ2q4IZMJRcA&libraries=places" async defer></script>
  </body>
</html>
